services:
  server:
    build:
      context: .
      dockerfile: server/Dockerfile
    ports:
      - "50051:50051"

  client:
    build:
      context: .
      dockerfile: client/Dockerfile
    environment:
      - SERVER_ADDRESS=server:50051
    depends_on:
      - server
